<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>로그인 페이지</title>

  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="css/signin_style.css" media="screen" type="text/css" />

</head>

<body>
  <div class="login-card">
    <center><h1>앗 종강이야</h1></center>
    <h2>LOGIN</h2><br>
  <center>
    <form>
    <input type="text" name="user" placeholder="아이디"><br>
    <input type="password" name="pass" placeholder="패스워드"><br>
    <input type="submit" name="login" class="login login-submit" value="로그인">
  </form>
  </center>

  <div class="login-help">
    <a href="#">회원가입</a> • <a href="#">비밀번호를 잃어버렸나요?
  </div>
 </div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

</body>

</html>