{% extends "base_template.html" %}
{% load staticfiles %}
{% block title %}
    로그인 페이지
{% endblock %}
{% block cdn %}
<meta charset="UTF-8">

  <title>로그인 페이지</title>
  <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="{% static 'css/signin_style.css' %}" media="screen" type="text/css" />
{% endblock cdn %}

{% block content %}
    {% if error is not None %}
        {{ error }}
    {% endif %}
  <div class="login-card">
    <center><h1>앗 종강이야</h1></center>
    <h2>LOGIN</h2><br>
  <center>
    <form action="{% url 'account:signin' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="사용자 이름"><br>
    <input type="password" name="password" placeholder="패스워드"><br>
    <input type="submit" name="login" class="login login-submit" value="로그인">
  </form>
  </center>

  <div class="login-help">
    <a href="{% url 'account:signup' %}">회원가입</a> • <a href="#">비밀번호를 잃어버렸나요?
  </div>
 </div>

<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>

{% endblock content %}
